<svg
    xmlns='http://www.w3.org/2000/svg'
    version='1.1'
    width='260'
    height='260'
    viewBox='0 0 260 260'
    preserveAspectRatio='none'
    aria-labelledby='logo-title'
    role='img'
>
    <title id='logo-title'>Tomislav Đurin's logo</title>
    <path
        d='M132.98 4.02c14.71.39 29.44-.3 44.13.49 20.19 1.22 40.16 9.46 54.34 24.06 12.38 12.59 19.74 29.37 22.87 46.6 3.22 17.9 2.83 36.57-1.71 54.21-4.55 17.16-13.75 33.41-27.6 44.71-15.06 12.39-34.61 18.47-53.95 18.85-12.69.14-25.39.02-38.09.06.37-9.99.2-19.99.23-29.99-.08-20.86.17-41.72-.12-62.58-18.54.05-37.08.01-55.63.02V260h-5.31V100.46c-24.04-.02-48.09 0-72.14-.01v-5.31c44.4-.01 88.8.01 133.2-.01-.12-30.37.27-60.74-.22-91.11m5.52 5.62c.04 28.47 0 56.93.02 85.4 19.35.47 38.71.32 58.08.35-.01 1.76-.01 3.53 0 5.3-19.36.07-38.73-.11-58.08.2-.04 28.85.07 57.71-.06 86.56 3.83.52 7.71.11 11.57.24 12.03-.16 24.18.66 36.09-1.53 12.61-2.16 24.7-7.43 34.74-15.38 12.77-10.08 21.52-24.65 25.9-40.21 5.08-18.01 5.62-37.24 2.14-55.6-3.55-18.53-12.77-36.4-27.71-48.25-14.33-11.59-32.87-17.1-51.16-17.23-10.51.04-21.04-.27-31.53.15z'
    >
    </path>
</svg>

<style lang='scss'>
    svg {
        width: 16.666666666666664vw;
        height: 16.666666666666664vw;
    }
</style>
