---
const { title } = Astro.props;
const description = `A highly skilled Front-End Developer with 6+ years of work experience. Loves learning new stuff
and exploring new technologies. Is also a husband & father, kebab lover and a soccer enthusiast.`;
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <meta http-equiv='x-ua-compatible' content='ie=edge,chrome=1' />
        <meta
            name='viewport'
            content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no'
        />
        <title>{title}</title>
        <meta name='description' content={description} />
    </head>
    <body>
        <div id='app'>
            <slot />
        </div>
    </body>
</html>

<style lang='scss' is:global>
    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }

    html {
        font-size: 62.5%;
        line-height: 1;
        text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        cursor: default;
    }

    body {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    #app {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        position: relative;
        overflow: hidden;
    }

    img {
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }

    a {
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
    }

    button {
        appearance: none;
        margin: 0;
        border: none;
        background-color: transparent;
        font: inherit;
        color: inherit;
        letter-spacing: inherit;
        cursor: pointer;
    }

    svg {
        vertical-align: middle;
        &:not([fill]) {
            fill: currentColor;
        }
        &:not(:root) {
            overflow: hidden;
        }
    }

    @font-face {
        font-family: 'Gilroy SemiBold';
        src: url('/fonts/gilroy/Gilroy-SemiBold.eot');
        src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
            url('/fonts/gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
            url('/fonts/gilroy/Gilroy-SemiBold.woff2') format('woff2'),
            url('/fonts/gilroy/Gilroy-SemiBold.woff') format('woff'),
            url('/fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype'),
            url('/fonts/gilroy/Gilroy-SemiBold.svg#Gilroy-SemiBold') format('svg');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Gilroy Heavy';
        src: url('/fonts/gilroy/Gilroy-Heavy.eot');
        src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
            url('/fonts/gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
            url('/fonts/gilroy/Gilroy-Heavy.woff2') format('woff2'),
            url('/fonts/gilroy/Gilroy-Heavy.woff') format('woff'),
            url('/fonts/gilroy/Gilroy-Heavy.ttf') format('truetype'),
            url('/fonts/gilroy/Gilroy-Heavy.svg#Gilroy-Heavy') format('svg');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
</style>
